body {
	margin-top: 20px;
}

#messageFormArea {
	display: none;
}

.nano { 
	height: 48vh; 
}
.nano .nano-content { 
	padding: 10px; 
}
.nano .nano-pane { 
	background: #888; 
}
.nano .nano-slider {
	display: block;
	background: #111; 
}